.col-navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
body{
	background-image: url('../img/seabg.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.section-main{
	background: #93bfd6;
}
.navbar-custom{
	background: transparent;
}
.col-lg-9 {
  background: #93bfd6;
}
.right .container {
  background: white;
}
#profilepic {
  height: 255px;
}
footer {
  background-color: #03396c;
}
