.col-navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
body{
	background-image: url('../img/seabg.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.section-main{
	background: #93bfd6;
	min-height: 95vh;
}
.navbar{
	background: rgba(255,255,255,0.3);
}
.col-lg-9 {
 	background: #93bfd6;
}
.right .container {
  	background: white;
}
#profilepic {
	height: 255px;
}
.page-footer{
  	background: rgba(255,255,255,0.7);
}

html,body,.main-content{
	min-height: 100%;
}
body{
	min-height: 100%;
}
[contenteditable="true"]{
	background: #fdfdfd;
}
.navbar-brand {
  font-family: Consolas;
  font-weight: bold;
}
.col-sm-10 {
  text-align: center;
}
.nav-link {
  color: #a72d88;
}
