.col-navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
body{
	background-image: url('../img/seabg.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.section-main{
	background: #93bfd6;
	min-height: 95vh;
}
.navbar{
	background: rgba(255,255,255,1.0);
}
.col-lg-9 {
 	background: #93bfd6;
}
.right .container {
  	background: white;
}
#profilepic {
	height: 255px;
}
.page-footer{
  	background: rgba(255,255,255,0.7);
}

html,body,.main-content{
	min-height: 100%;
}
body{
	min-height: 100%;
}
[contenteditable="true"]{
	background: #fdfdfd;
}
.navbar-brand {
  font-family: Consolas;
  font-weight: bold;
}
.col-sm-10 {
  text-align: center;
}
.nav-link {
  color: #a72d88;
}

.content-wrapper{
	padding: 15px 15px 30px 15px;
}
.homepagecontent{
	padding: 30px 20px 60px 20px;
	margin-bottom: 30px;
}
.admin-updates{
	padding: 15px 15px;
}
#saveButton{
	padding: 5px 0px;
}
.register {
  color: green;
}
a:hover {
  color: #a72d88;
}
.dropdown-menu {
  background-color: #fcbb30;
}
.socmed tr td{
  border-collapse: none;
  padding: 3px;
}
.socmed {
  color: #1880ff;
}
.nav-link {
  color: #1880ff;
}
